<header class="site-header">
    <div class="container">
      <div class="site-title">
        <a href="{{ '/' | relative_url }}">{{ site.title }}</a>
      </div>
      <nav class="site-nav">
        <a href="{{ '/' | relative_url }}" class="nav-link">Home</a>
        <a href="{{ '/blog/' | relative_url }}" class="nav-link">Blog</a>
        <a href="{{ '/projects/' | relative_url }}" class="nav-link">Projects</a>
        <a href="{{ '/books/' | relative_url }}" class="nav-link">Books</a>
        <a href="{{ '/about/' | relative_url }}" class="nav-link">About</a>
      </nav>
    </div>
  </header>