{% if articles_page.has_other_pages() %}
<div class="pagination">
    {% if articles_page.has_previous() %}
        <a href="{{ SITEURL }}/{{ articles_page.previous_page.url }}">&laquo; Previous</a>
    {% endif %}
    
    <span class="page-number">
        Page {{ articles_page.number }} of {{ articles_page.paginator.num_pages }}
    </span>
    
    {% if articles_page.has_next() %}
        <a href="{{ SITEURL }}/{{ articles_page.next_page.url }}">Next &raquo;</a>
    {% endif %}
</div>
{% endif %}