{{- define "main" }}

<header class="page-header">
  <h1>{{ .Title }}</h1>
  {{- if .Description }}
  <p class="page-description">{{ .Description }}</p>
  {{- end }}
</header>

<ul class="blog-list">
  {{- range .Pages }}
  <li class="blog-list-item">
    <div class="blog-list-main">
      <a href="{{ .RelPermalink }}" class="blog-list-title">{{ .Title }}</a>
      {{- with .Description }}
      <p class="blog-list-description">{{ . }}</p>
      {{- end }}
      <div class="blog-list-meta">
        <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "02 Jan 2006" }}</time>
        <span>{{ .ReadingTime }} min read</span>
        {{- with .Params.level }}
        <span>{{ . }}</span>
        {{- end }}
        {{- with .Params.series }}
          {{- range . }}
        <a href="/series/{{ . | urlize }}/">{{ . }}</a>
          {{- end }}
        {{- end }}
        {{- if and .Lastmod (gt .Lastmod .Date) }}
        <span>Updated <time datetime="{{ .Lastmod.Format "2006-01-02" }}">{{ .Lastmod.Format "02 Jan 2006" }}</time></span>
        {{- end }}
      </div>
    </div>
    {{- with .Params.tags }}
    <div class="blog-list-tags" aria-label="Tags">
      {{- range . }}
      <a class="blog-tag" href="/tags/{{ . | urlize }}/">{{ . }}</a>
      {{- end }}
    </div>
    {{- end }}
  </li>
  {{- end }}
</ul>

{{- end }}{{/* end main */}}
